body{
  font-family: Helvetica;
  font-weight: bold;
}

.header{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
}

.item{
  font-size: 32px;
  color: white;
}

.pricing{
  color: blue;
}
